// Fuentes
$fuente-heading: "PT Sans", sans-serif;
$fuente-parrafos: "Open Sans", sans-serif;

// Colores
$primary: #784d3c;
$gris: #e1e1e1;
$blanco: #ffffff;
$negro: #000000;

// Transicion

$transicion-suave: all 0.3s ease;